<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<link  rel="stylesheet" type="text/css" href="uploadpage.scss"/>
</head>
<body>
    <div id="box">
    <button class="btnprimary">     <%= link_to "Log in", login_path, method: "get" %></button>
    <h1> Welcome to the Renew Funding Application </h1>
    </div><br>
    <div id="container">
    <p>New User Signup here <%= link_to "Signup", signup_path %></p>
    </div>
    
</body>
</htmluser
    