<!DOCTYPE html>
<html>

<body>
    <div id="box">
    <button class="btnprimary">     <%= link_to "Log in", login_path, method: "get" %></button>
    <h1> Welcome to the Renew Funding Application </h1>
    </div><br>
    <div id="container">
    <p>New User Signup here <%= link_to "Signup", signup_path %></p>
    </div>
    
</body>
</htmluser
    